{% extends "kiosk/layout.html" %}
{% load static %}
{% block content %}
    <div class="jumbotron" align="center">

        <h1 id="room_name">{{ display_name }}</h1>
        <div id="current_status"></div>
        <div id="upcoming_status"></div>

        <div id="schedule_buttons" hidden>
            <h5>Hot Book:</h5>
            <a class="btn btn-lg btn-primary" onclick="schedule_for_interval(30)" role="button" id="schedule_button1">30 minutes</a>
            <a class="btn btn-lg btn-primary" onclick="schedule_for_interval(60)" role="button" id="schedule_button2">60 minutes</a>
            <a class="btn btn-lg btn-primary" onclick="schedule_for_interval(90)" role="button" id="schedule_button3">90 minutes</a>
        </div>

    </div>

    <script src="{% static 'js/jquery.js' %}"></script>

    <form id="schedule_room_form" method="post" action=""{% url 'schedule_room' %} hidden>
        {% csrf_token %}
        {{ schedule_room_form }}
    </form>

    <script>
        var room_email = "{{ room_email }}";
        var room_info_url = "{% url 'room_info' %}?room_email=" + room_email;
        var start_time = null;

        function string_to_date( time ) {
            return Date.parse(time);
        }

        function set_current_status( status ) {
            if (status) {
                document.getElementById("current_status").style.color = 'green';
                document.getElementById("current_status").innerHTML = "Available";
            }
            else {
                document.getElementById("current_status").style.color = 'red';
                document.getElementById("current_status").innerHTML = "Occupied";
            }
        }

        function time_delta_minutes(end_time, start_time) {
            return Math.round((end_time - start_time) / (1000 * 60));
        }

        function set_upcoming_status( availability, offset_minutes) {
                var current_status = availability['0'];
                var state_change_minutes = null;
                if (current_status != availability['30']) {
                    state_change_minutes = 30 - offset_minutes;
                }
                else if (current_status != availability['60']) {
                    state_change_minutes = 60 - offset_minutes;
                }
                else if (current_status != availability['90']) {
                    state_change_minutes = 90 - offset_minutes;
                }
                var new_string = "";
                if ( state_change_minutes != null ) {
                    if ( current_status ) {
                        new_string = "Free for ";
                    }
                    else {
                        new_string = "Free in ";
                    }
                    state_change_minutes = Math.max(1, state_change_minutes);
                    new_string += state_change_minutes + " minute";
                    if ( state_change_minutes != 1 ) {
                        new_string += "s";
                    }
                }
                document.getElementById("upcoming_status").innerHTML = new_string;
        }

        function set_schedule_buttons(availability, current_status, offset_minutes) {
            if ( !current_status ) {
                $("#schedule_buttons").hide();
            }
            else {
                if ( availability['0'] ) {
                    if (offset_minutes <= 25) {
                        $("#schedule_button1").text((30 - offset_minutes) + " minutes");
                    }
                    else
                    {
                        $("#schedule_button1").hide();
                    }
                    if ( availability['30'] ) {
                        $("#schedule_button2").text((60 - offset_minutes) + " minutes");
                        if ( availability['60'] ) {
                            $("#schedule_button3").text((90 - offset_minutes) + " minutes");
                        }
                        else {
                            $("#schedule_button3").hide();
                        }
                    }
                    else {
                        $("#schedule_button2").hide();
                    }
                }
                else {
                    $("#schedule_button1").hide();
                    $("#schedule_button2").hide();
                    $("#schedule_button3").hide();
                }
                $("#schedule_buttons").show();
            }
        }

        function schedule_for_interval( interval_minutes ) {
            if ( start_time == null) {
                alert("Error");
            }
            else {

            }
        }

        function update() {
            $.getJSON( room_info_url, function ( data ) {

                var current_status = data['availability']['0'];
                start_time = string_to_date(data['availability']['start_time']);
                var current_time = string_to_date(data['availability']['current_time']);
                var offset_minutes = time_delta_minutes(current_time, start_time);

                set_current_status(current_status);
                set_upcoming_status(data['availability'], offset_minutes);
                set_schedule_buttons(data['availability'], current_status, offset_minutes);
            });
        }
        update();
        setInterval(update, 5000)
    </script>
{% endblock %}